*{
    padding: 0;
    margin: 0;
}

p{
    color: black;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(..//img/HNCK7775.jpg);
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


h1{
    color: black;
    
}

.titulo_estudi{
   float: left; 
   font-family: 'Charm', cursive;
 
}
.usuario_p{
    
    float: right;
    margin-top: 10px;
    font-size: 25px;
     font-family: 'Charm', cursive;
    
    
}

.titulo{
    
    display: inline-block;
    position: relative;
    font-size: 2.5em;
    left: 30%;
    font-family: 'Charm', cursive;
    color: #ffff;
    
}
.titulo::after,.titulo::before{
    color: #ffff;
   content: '';
   position: absolute;
   width: 80px;
   height: 3px;
   background-color: currentcolor;
   top:0.8em;

   

}

.titulo::before{
    left: -80px;
    

}

.titulo::after{
    right: -80px;

     
}

.menu,
.menu ul{

    /* Con esto se le quita las viñetas*/
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

}


.menu{
    clear: left;
    background: #0B3861;
    display: table;
    margin: auto;
    width: 100%;
}

.menu > li{
    float: left;
    
}


.menu li{
    position: relative;
}

.menu a{
    color: #eee;
    /* Quita el subrayado*/
    text-decoration: none;
    display: block;
    padding: 0.7em 72px;
    white-space: nowrap;
}

.menu li:hover{
    background: rgba(0, 0, 0, .5)
}

.menu li:hover > ul{
    display: block;
    background: #0B3861;

}

.menu li > ul{
    position: absolute;
    width: 290px;
    display: none;
    
}

.menu ul ul{
    top: 0;
    left: 100%;


}

#footer {
  position: fixed;
  padding-top: 4px;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #0B3861;
  text-align: center;
  font-size: 1.2em;
  color: #eee;

  
  

}

#footer p{
    padding: 10px 0;
}

.usu{
    float: left;
    width: 30px;
    height: 30px;
}

.d{
   float: left;
   padding-left: 10px;
   padding-top: 7px;
   font-family: 'Charm', cursive;
}
