.main-container{
        
	margin: 10px auto;
	width: 100%;
        
        
}
.btn-default{
    text-decoration: none;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: black;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;

}

.btn-default:hover{
    opacity: 0.6;
    text-decoration: none;
}


table{
        
	background-color: white;
	text-align: center;
	border-collapse: collapse;
        margin-left:  17px;
        margin-right: 17px;
  
}

th{
    padding: 4px;
    text-align: center;
}

 td{
	padding: 5px;
        text-align: left;
       
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}














